<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>insertData</servlet-name>
        <servlet-class>insertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>DatabaseConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteData</servlet-name>
        <servlet-class>deleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateData</servlet-name>
        <servlet-class>updateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCate</servlet-name>
        <servlet-class>insertCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertDetail</servlet-name>
        <servlet-class>insertDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPath</servlet-name>
        <servlet-class>insertPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertData</servlet-name>
        <url-pattern>/insertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseConnection</servlet-name>
        <url-pattern>/DatabaseConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteData</servlet-name>
        <url-pattern>/deleteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateData</servlet-name>
        <url-pattern>/updateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCate</servlet-name>
        <url-pattern>/insertCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertDetail</servlet-name>
        <url-pattern>/insertDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPath</servlet-name>
        <url-pattern>/insertPath</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
